.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  background-color: white;
  padding: 30Px;
  border-radius: 10%;
}

.display {
  font-size: 2.5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);

}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}


